:host {
  width: min(20%, 300px);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1.4px solid var(--secondary-color);
  .meta-data {
    flex: 1;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    .edit-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .user-container {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      img {
        min-width: 100px;
        background-color: black;
        min-height: 100px;
      }
      .email {
      }
    }
    .task-container {
      display: flex;
      gap: 10px;
      .task-data {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
        .bold {
          font-size: 20px;
          font-weight: 600;
          margin: 0;
        }
        .secondary {
          font-size: 12px;
          color: var(--secondary-color);
        }
      }
    }
  }
  .categories-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1.4px solid var(--secondary-color);
    border-bottom: 1.4px solid var(--secondary-color);

    .head-flex {
      height: fit-content;
      align-items: center;
      gap: 20px;
      display: flex;
      justify-content: space-around;
    }
    .category-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .category-content {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .friends {
    flex: 1;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
  }
}
