@import "~@fontsource/plus-jakarta-sans/index.css";
@import "./variables.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./app/sidebar/sidebar.component.scss";
@import "./app/task/task.component.scss";
@import "./app/main/main.component.scss";
@import "./app/footer/footer.component.scss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.unset {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}
.btn-i-primary {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &.cat-add {
    transform: translateY(9%);
  }
  &.cat-times {
    transform: translateY(-12%);
  }
  &:hover {
    cursor: pointer;
    i {
      color: var(--secondary-grey);
      scale: 1.1;
    }
  }
  i {
    font-size: 25px;
    color: var(--light);
    transition: all 0.3s ease-in-out;
  }
}
body {
  height: 100%;
}
