@import "~@fontsource/plus-jakarta-sans/index.css";
@import "./variables.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./app/components/sidebar/sidebar.component.scss";
@import "./app/components/task/task.component.scss";
@import "./app/components/main/main.component.scss";
@import "./app/components/footer/footer.component.scss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.unset {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}
.btn-i-primary {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &.cat-add {
    transform: translateY(9%);
  }
  &.cat-times {
    transform: translateY(-12%);
  }
  &:hover {
    cursor: pointer;
    i {
      color: var(--secondary-grey);
      scale: 1.1;
    }
  }
  i {
    font-size: 25px;
    color: var(--light);
    transition: all 0.3s ease-in-out;
  }
}
body {
  height: 100%;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
